@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .2rem;
}

.form {
    width: calc(100% - 20px);
    max-width: 700px;

    .origin,
    .destination,
    .additional {
        padding-block: 1rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;

        .province,
        .city,
        .weight,
        .courier {
            @include flex-center();

            label {
                font-size: 0.9rem;
                font-weight: 500;
            }
        }
    }
    .submit {
        display: flex;
        justify-content: end;
    }

}