.main {
    width: 100%;
    min-height: 100dvh;
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    // positioning
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}