.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    p {
        font-weight: 500;
        font-size: 0.9rem;
    }

    svg {
        font-size: 1.2rem;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}